* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(/img/stacked-peaks-haikei.png);
    background-size: cover;
}

img {
    height: 500px;
    width: 700px;
    margin-top: 59px;
    margin-left: 1100px;
}